@import url('https://fonts.googleapis.com/css?family=Roboto:200,300,400,500,600,700,800');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #dedede;
    color: black;
}

.navbar {
    background-color: #5cb85c;
    border-bottom: 1px solid black;
    font-weight: 700;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus {
    color: black;
    transition: all 0.25s ease-in-out;
}

.navbar-default .navbar-brand:hover {
    color: white;
    transition: all 0.25s ease-in-out;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #5cb85c;
    border-top: 1px solid black;
    color: #000;
    min-height: 50px;
}

footer .lead {
    margin-bottom: 0px;
    padding: 10px 0px;
}

footer a, footer a:focus {
    color: black;
    transition: all 0.25s ease-in-out;
    font-weight: 700;
}

footer a:hover {
    color: white;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
}

#main-content {
    height: auto;
    margin: 71px 0px 71px 0px;
}

#analysis-text {
    border-radius: 6px;
}

.table {
    background-color: #fafafa;
    font-size: 1.65rem;
    border-radius: 6px;
    box-shadow: 0px 0px 5px #333 inset;
}

.table>tbody>tr>th {
    border-top: none;
    text-align: center;
}

.table>tbody>tr>td {
    vertical-align: middle;
    border-top: 1px solid rgb(229,229,229);
}

.results {
    display: none;
}